<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    <!-- Header Content -->
    {{>navbar}}

    <!-- Main Content -->
    <div class="container-fluid p-0 main_content">
        <div class="row m-0">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-5 col-12 main_content_right about_left">
                        <img src="./Image/programmer.png" class="img-fluid" alt="Programmer Image">
                    </div>

                    <!-- right side -->
                    <div class="col-md-7 col-12 main_content_left about_right">
                        <p>Hello, I am Utsav Mavani</p>
                        <h1>I am a <span class="color_blue">MERN</span> Stack Web Developer And Freelancer</h1>
                        <a href="/contact"><button class="btn btn-outline-primary"> Contact Me </button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Content-->
    {{>footer}}

</body>

</html>