<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    <!-- Header Content -->
    {{>navbar}}

    <!-- Main Content -->
    <div class="container-fluid p-0 main_content">
        <div class="row m-0">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-12 col-12 main_content_left align-items-center">
                        <img src="./Image/error.png" class="img-fluid" alt="Error Image">
                    
                        <p>We Are not Fetching The Data For You</p>
                        <h1 class="text-danger">Oops! Page Can Not Found</h1>
                        <a href="/"><button class="btn btn-outline-primary">Go To Home</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Content-->
    {{>footer}}

</body>

</html>